<project>
  <files
    portability_mode="relative"
    default_encoding="UTF-8"
    readonly="false"
    maxfilesize="10485760"
    enforce_portability="false">
    <dir
      name=".">
      <watched
        excludes=".*"
        subdirs="true">
        <filter
          name="CSS"/>
        <filter
          name="Html"/>
        <filter
          name="Java"/>
        <filter
          name="Javascript"/>
        <filter
          name="Php"/>
        <filter
          name="TypeScript"/>
        <filter
          name="Xml"/>
      </watched>
      <dir
        name="app">
        <dir
          name="src">
          <dir
            name="main">
            <dir
              name="assets"/>
            <dir
              name="java">
              <dir
                name="com">
                <dir
                  name="alibaba">
                  <dir
                    name="android">
                    <dir
                      name="arouter">
                      <dir
                        name="demo"/>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="res">
              <dir
                name="anim"/>
              <dir
                name="drawable"/>
              <dir
                name="layout"/>
              <dir
                name="values"/>
            </dir>
          </dir>
        </dir>
      </dir>
      <dir
        name="arouter-annotation">
        <dir
          name="src">
          <dir
            name="main">
            <dir
              name="java">
              <dir
                name="com">
                <dir
                  name="alibaba">
                  <dir
                    name="android">
                    <dir
                      name="arouter">
                      <dir
                        name="facade">
                        <dir
                          name="annotation"/>
                        <dir
                          name="enums"/>
                        <dir
                          name="model"/>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
        </dir>
      </dir>
      <dir
        name="arouter-api">
        <dir
          name="src">
          <dir
            name="main">
            <dir
              name="java">
              <dir
                name="com">
                <dir
                  name="alibaba">
                  <dir
                    name="android">
                    <dir
                      name="arouter">
                      <dir
                        name="base"/>
                      <dir
                        name="core"/>
                      <dir
                        name="exception"/>
                      <dir
                        name="facade">
                        <dir
                          name="callback"/>
                        <dir
                          name="service"/>
                        <dir
                          name="template"/>
                      </dir>
                      <dir
                        name="launcher"/>
                      <dir
                        name="thread"/>
                      <dir
                        name="utils"/>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
        </dir>
      </dir>
      <dir
        name="arouter-compiler">
        <dir
          name="src">
          <dir
            name="main">
            <dir
              name="java">
              <dir
                name="com">
                <dir
                  name="alibaba">
                  <dir
                    name="android">
                    <dir
                      name="arouter">
                      <dir
                        name="compiler">
                        <dir
                          name="entity"/>
                        <dir
                          name="processor"/>
                        <dir
                          name="utils"/>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
        </dir>
      </dir>
      <dir
        name="arouter-idea-plugin">
        <dir
          name="src">
          <dir
            name="main">
            <dir
              name="resources">
              <dir
                name="META-INF"/>
            </dir>
          </dir>
        </dir>
      </dir>
      <dir
        name="module-java">
        <dir
          name="src">
          <dir
            name="main">
            <dir
              name="java">
              <dir
                name="com">
                <dir
                  name="alibaba">
                  <dir
                    name="android">
                    <dir
                      name="arouter">
                      <dir
                        name="demo">
                        <dir
                          name="module1">
                          <dir
                            name="testactivity"/>
                          <dir
                            name="testinterceptor"/>
                          <dir
                            name="testservice"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="res">
              <dir
                name="layout"/>
              <dir
                name="values"/>
            </dir>
          </dir>
        </dir>
      </dir>
      <dir
        name="module-java-export">
        <dir
          name="src">
          <dir
            name="main">
            <dir
              name="java">
              <dir
                name="com">
                <dir
                  name="alibaba">
                  <dir
                    name="android">
                    <dir
                      name="arouter">
                      <dir
                        name="demo">
                        <dir
                          name="service">
                          <dir
                            name="model"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
        </dir>
      </dir>
      <dir
        name="module-kotlin">
        <dir
          name="src">
          <dir
            name="main">
            <dir
              name="java">
              <dir
                name="com">
                <dir
                  name="alibaba">
                  <dir
                    name="android">
                    <dir
                      name="arouter">
                      <dir
                        name="demo">
                        <dir
                          name="kotlin"/>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="res">
              <dir
                name="layout"/>
              <dir
                name="values"/>
            </dir>
          </dir>
        </dir>
      </dir>
    </dir>
  </files>
  <languages>
    <language
      name="Java"/>
    <language
      name="Web"/>
  </languages>
  <file_types/>
  <annotations_options/>
  <comparison_options
    comparison_db=""
    git_repo=""
    git_commit=""/>
  <imports/>
  <java_options
    count_javadoc_in_metrics="true"
    count_standard_in_max_inheritance="false"
    jni_kni_include_package_name="true"
    jni_kni_linkage_prepend_text="Java_"
    save_comments_associated_with_entities="true"
    version="Java5">
    <class_paths>
      <class_path
        path="C:/Program Files/Eclipse Adoptium/jdk-11.0.13.8-hotspot/lib/src.zip"/>
      <class_path
        path="C:/Program Files/Eclipse Adoptium/jdk-11.0.13.8-hotspot/jmods/java.base.jmod"/>
    </class_paths>
  </java_options>
  <web_options
    add_found_imported_js_files="true"
    allow_asp_style_php_tags="false"
    allow_jquery="false"
    allow_node_js="false"
    allow_short_php_tags="true"
    js_module_search_path=""
    node_js_predefined_config_file="$CONF:/understand/javascript/nodejs_predefined.txt"
    node_js_search_path=""
    save_php_comments="true"
    search_strings_for_entity_names="false"
    php_version="5.3"/>
</project>
